html,
body,
main {
    /* padding: 35px; */
    height: 100%;
    text-align: center;
    margin: 0;
    line-height: 1.8em;
    background-color: #E9ECEF;
}


.btn-transparrent {
    color: black;
}

.social-link {
    color: black;
}

.jumbotron {
    /* stops gaps between jumbotrons */
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 0;
}
.display-3 {
    color: white;
}

.pimg1 {
    background-image: url("https://static.pexels.com/photos/546819/pexels-photo-546819.jpeg");
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 100%;
    background-attachment: fixed;
    text-align: center; 
}



.pimg3  {
    background-image: url("compglass.jpeg");
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 400px;
    color: white;
    background-attachment: fixed;
    text-align: center;
}



.info {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 0;
    color: white;
}

.sinfo {
    color:white;
}

.footer {
    background-color: #E9ECEF
}